<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ACBr.Net.Core" version="1.2.3.3" targetFramework="net472" />
  <package id="ACBr.Net.DFe.Core" version="1.2.4.1" targetFramework="net472" />
  <package id="ACBr.Net.Integrador" version="1.2.0" targetFramework="net472" />
  <package id="ACBr.Net.Sat" version="1.2.6.1" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
</packages>